/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1500px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-comprar button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #09a511;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: #5c5c5c;
    display: inline-block;
    transition: .2s;

}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-comprar button:hover{
    box-shadow: 0px 0px 8px #09a511;
    transform: scale(1.05);
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
}

.topo-do-site h1 span{  /* txt-topo-site */
    color: #09a511;
    font-size: 60px;
}

.topo-do-site p{  /* txt-topo-site */
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

